/* src/style/consulta.css */
.consulta-list {
  padding: 20px;
  color: #ddd;
}

.consulta-list h1{
  color: #f2f2f2;
}

.new-consulta {
  margin-bottom: 20px;
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #086d2e;
  padding: 10px 20px;
  border-radius: 5px;
}

.filters {
  margin-bottom: 20px;
}

.filters label {
  margin-right: 20px;
}

.filters input {
  margin-left: 5px;
  padding: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #f2f2f2;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.edit-btn {
    margin-bottom: 20px;
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #a8a80c;
  padding: 10px 20px;
  border-radius: 5px;
}

.delete-btn {
   margin-bottom: 20px;
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #860909;
  padding: 10px 20px;
  border-radius: 5px;
}
